article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {
    display: block
}

audio,canvas,video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}
[hidden],template {
    display: none
}

html {
    background: #fff;
    color: #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

button,html,input,select,textarea {
    font-family: sans-serif
}

body {
    margin: 0
}

a {
    background: 0 0
}

a:focus {
    outline: thin dotted
}

a:active,a:hover {
    outline: 0
}

h1 {
    margin: .67em 0;
    font-size: 2em
}

h2 {
    margin: .83em 0;
    font-size: 1.5em
}

h3 {
    margin: 1em 0;
    font-size: 1.17em
}

h4 {
    margin: 1.33em 0;
    font-size: 1em
}

h5 {
    margin: 1.67em 0;
    font-size: .83em
}

h6 {
    margin: 2.33em 0;
    font-size: .75em
}

abbr[title] {
    border-bottom: 1px dotted
}

b,strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

code,kbd,pre,samp {
    font-size: 1em;
    font-family: monospace,serif
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

q:after,q:before {
    content: "";
    content: none
}

small {
    font-size: 80%
}

sub,sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    margin: 0 2px;
    padding: .35em .625em .75em;
    border: 1px solid silver
}

legend {
    padding: 0;
    border: 0;
    white-space: normal
}

button,input,select,textarea {
    margin: 0;
    vertical-align: baseline;
    font-size: 100%;
    font-family: inherit
}

button,input {
    line-height: normal
}

button,select {
    text-transform: none
}

button,html input[type=button],input[type=reset],input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button
}

button[disabled],input[disabled] {
    cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
    padding: 0;
    border: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input[type=search] {
    box-sizing: content-box;
    -webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

.clearfix:after {
    display: block;
    visibility: hidden;
    height: 0;
    content: "."
}

.clearfix {
    display: inline-block
}

* html .clearfix {
    height: 1%
}

.clearfix {
    display: block
}

.clearfix:after,.fix:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: "."
}

.clearfix,.fix {
    zoom: 1
}

.floatL {
    float: left
}

.floatR {
    float: right
}

body {
    background: #fff;
    font-size: 14px;
    font-family: Microsoft Yahei
}

a {
    text-decoration: none
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400
}

dd,dl,dt,li,ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.clearfix:after,.clearfix:before {
    display: table;
    content: "";
    line-height: 0
}

.clearfix:after {
    clear: both
}

.f-left {
    float: left
}

.f-right {
    float: right
}

.block {
    display: block!important
}

.layout {
    padding: 1px 0
}

.main-wrap {
    position: relative;
    margin: 0 auto;
    width: 1280px
}

@media screen and (min-width:1500px) {
    .main-wrap {
        width: 1500px
    }
}

.f16 {
    font-size: 16px
}

.f20 {
    font-size: 20px
}

.f18 {
    font-size: 18px
}

.f24 {
    font-size: 24px
}

.f30 {
    font-size: 30px!important
}

.f50 {
    font-size: 50px!important
}

.f45 {
    font-size: 45px!important
}

.mt0 {
    margin: 0!important
}

.mt5 {
    margin-top: 5px!important
}

.mt10 {
    margin-top: 10px!important
}

.mt15 {
    margin-top: 15px
}

.mt20 {
    margin-top: 20px!important
}

.mt-10 {
    margin-top: -10px!important
}

.mt-20 {
    margin-top: -20px!important
}

.mt-40 {
    margin-top: -40px!important
}

.mt30 {
    margin-top: 30px
}

.mt40 {
    margin-top: 40px
}

.mt50 {
    margin-top: 50px
}

.mt60 {
    margin-top: 60px!important
}

.mt70 {
    margin-top: 70px
}

.mt80 {
    margin-top: 80px!important
}

.mt90 {
    margin-top: 90px
}

.mt100 {
    margin-top: 100px
}

.mt110 {
    margin-top: 110px
}

.mt125 {
    margin-top: 125px
}

.mt130 {
    margin-top: 130px
}

.mt150 {
    margin-top: 150px
}

.mt170 {
    margin-top: 170px
}

.mt180 {
    margin-top: 180px
}

.ml10 {
    margin-left: 10px
}

.ml16 {
    margin-left: 16px
}

.ml20 {
    margin-left: 20px
}

.ml30 {
    margin-left: 30px
}

.ml40 {
    margin-left: 40px
}

.ml50 {
    margin-left: 50px
}

.ml70 {
    margin-left: 70px
}

.mr5 {
    margin-right: 5px
}

.mr50 {
    margin-right: 50px
}

.mr10 {
    margin-right: 10px
}

.mr20 {
    margin-right: 20px
}

.mb20 {
    margin-bottom: 20px
}

.mb30 {
    margin-bottom: 30px
}

.mb50 {
    margin-bottom: 50px
}

.mb60 {
    margin-bottom: 60px
}

.mb80 {
    margin-bottom: 80px
}

.mtb5 {
    margin: 5px 0!important
}

.mtb10 {
    margin: 10px 0
}

.mtb20 {
    margin: 20px 0
}

.mtb40 {
    margin: 40px 0
}

.pt1 {
    padding-top: 1px
}

.pt40 {
    padding-top: 40px
}

.pt80 {
    padding-top: 80px
}

.pb20 {
    padding-bottom: 20px!important
}

.pb30 {
    padding-bottom: 30px!important
}

.pb80 {
    padding-bottom: 80px!important
}

.pb100 {
    padding-bottom: 100px!important
}

.pb60 {
    padding-bottom: 60px!important
}

.pb40 {
    padding-bottom: 40px!important
}

.ptb40 {
    padding: 40px 0 100px!important
}

.ptb60 {
    padding: 60px 0 100px!important
}

.pl10 {
    padding-left: 10px
}

.pl40 {
    padding-left: 40px
}

.pr40 {
    padding-right: 40px
}

.pr150 {
    padding-right: 150px
}

.bt6 {
    border-top: 6px solid #eee
}

.lh26 {
    line-height: 26px!important
}

.lh30 {
    line-height: 30px!important
}

.lh40 {
    line-height: 40px!important
}

.lh60 {
    line-height: 60px!important
}

.bold {
    font-weight: 700
}

.bg-f9 {
    background-color: #f9f9f9!important
}

.bg-f2 {
    background-color: #f2f2f2!important
}

.bg-f3 {
    background-color: #f3f3f3!important
}

.bg-f8 {
    background: #f8f8f8
}

.align-left {
    text-align: left!important
}

.align-right {
    text-align: right!important
}

.align-center {
    text-align: center!important
}

.g333 {
    color: #333
}

.g666 {
    color: #666
}

.g999 {
    color: #999
}

.red {
    color: red
}

.light-blue {
    color: #3db1ea
}

.drak-blue {
    color: #1b77b9
}

.b-radius-lt3 {
    border-radius: 3px 0 0 0
}

.b-radius-lb3 {
    border-radius: 0 0 0 3px
}

.blue-link {
    color: #3db1ea
}

.blue-link:hover {
    color: #1b77b9
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

.animated.bounceIn,.animated.bounceOut,.animated.flipOutX,.animated.flipOutY {
    -webkit-animation-duration: .75s;
    animation-duration: .75s
}

@-webkit-keyframes a {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,10%,0);
        transform: translate3d(0,10%,0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes a {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,10%,0);
        transform: translate3d(0,10%,0)
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInUp {
    -webkit-animation-name: a;
    animation-name: a
}

.blue-btn {
    display: inline-block;
    padding: 0 30px;
    height: 32px;
    border: 1px solid #3db1ea;
    border-radius: 16px;
    background: #3db1ea;
    text-align: center;
    line-height: 32px;
    cursor: pointer
}

.blue-btn,.blue-btn a {
    color: #fff
}

.blue-btn:hover {
    border: 1px solid #1b77b9;
    background: #1b77b9;
    transition: all .5s linear .1s
}

.white-btn {
    display: inline-block;
    padding: 0 30px;
    height: 32px;
    border: 1px solid #3db1ea;
    border-radius: 16px;
    background: 0 0;
    text-align: center;
    line-height: 32px;
    cursor: pointer
}

.white-btn,.white-btn a {
    color: #3db1ea
}

.white-btn:hover {
    border: 1px solid #3db1ea;
    background: #3db1ea;
    color: #fff;
    transition: all .5s linear .1s
}

.white-btn:hover a {
    color: #fff
}

.top-blue-btn {
    display: inline-block;
    padding: 0 30px;
    height: 40px;
    border: 1px solid #3db1ea;
    border-radius: 20px;
    background: #3db1ea;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer
}

.top-blue-btn a {
    color: #fff
}

.top-blue-btn:hover {
    border: 1px solid #1b77b9;
    background: #1b77b9;
    transition: all .5s linear .1s
}

.gray-col,.sub-gray-col {
    background: #f2f2f2
}

.bg-f5 {
    background: #f5f5f5
}

.row .col-1,.row .col-1-7,.row .col-10,.row .col-11,.row .col-12,.row .col-2,.row .col-2-4,.row .col-3,.row .col-4,.row .col-5,.row .col-6,.row .col-7,.row .col-8,.row .col-9 {
    float: left
}

.row .col-1 {
    width: 8.33333333%
}

.row .col-1-7 {
    width: 14.28571428%
}

.row .col-2 {
    width: 16.66666666%
}

.row .col-2-4 {
    width: 20%
}

.row .col-3 {
    width: 25%
}

.row .col-4 {
    width: 33.33333333%
}

.row .col-5 {
    width: 41.66666666%
}

.row .col-6 {
    width: 50%
}

.row .col-7 {
    width: 58.33333333%
}

.row .col-8 {
    width: 66.66666666%
}

.row .col-9 {
    width: 75%
}

.row .col-10 {
    width: 83.33333333%
}

.row .col-11 {
    width: 91.66666666%
}

.row .col-12 {
    width: 100%
}

.zq-icon {
    display: inline-block;
    background: url(../images/new300-sprite-icon.png) no-repeat
}

.icon40x40 {
    width: 40px;
    height: 40px
}

.icon7x13 {
    width: 7px;
    height: 13px
}

.icon17x17 {
    width: 17px;
    height: 17px
}

.icon18x18 {
    width: 18px;
    height: 18px
}

.icon29x29 {
    width: 29px;
    height: 29px
}

.icon36x36 {
    width: 36px;
    height: 36px
}

.icon35x35 {
    width: 35px;
    height: 35px
}

.icon50x50 {
    width: 50px;
    height: 50px
}

.icon60x55 {
    width: 60px;
    height: 55px
}

.icon60x60 {
    width: 60px;
    height: 60px
}

.icon62x62 {
    width: 62px;
    height: 62px
}

.icon66x66 {
    width: 66px;
    height: 66px
}

.icon64x64 {
    width: 64px;
    height: 64px
}

.icon70x65 {
    width: 70px;
    height: 65px
}

.icon83x83 {
    width: 83px;
    height: 83px
}

.icon47x47 {
    width: 47px;
    height: 47px
}

.icon57x57 {
    width: 57px;
    height: 57px
}

.icon85x85 {
    width: 85px;
    height: 85px
}

.icon150x150 {
    width: 150px;
    height: 150px
}

.icon250x200 {
    width: 250px;
    height: 200px
}

.crad-area-icon1 {
    background-position: 0 0
}

.crad-area-icon2 {
    background-position: -40px 0
}

.crad-area-icon3 {
    background-position: -80px 0
}

.crad-area-icon4 {
    background-position: -120px 0
}

.solution-icon1 {
    background-position: 3px -50px
}

.solution-icon2 {
    background-position: -60px -50px
}

.solution-icon3 {
    background-position: -120px -50px
}

.solution-icon4 {
    background-position: -180px -50px
}

.solution-icon5 {
    background-position: -240px -50px
}

.t-phone-icon {
    background-position: -100px -350px
}

.icon14x26 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -13px 0 0 -7px;
    width: 14px;
    height: 26px
}

.left-arrow {
    background-position: -250px 0
}

.rig-arrow {
    background-position: -264px 0
}

.popular-app-icon1 {
    background-position: 0 -110px
}

.popular-app-icon2 {
    background-position: -64px -110px
}

.popular-app-icon3 {
    background-position: -128px -110px
}

.popular-app-icon4 {
    background-position: -192px -110px
}

.popular-app-icon5 {
    background-position: -256px -110px
}

.cz-icon1 {
    width: 90px;
    background-position: 0 -200px
}

.cz-icon1,.cz-icon2 {
    margin: 0 20px 0 0;
    height: 55px
}

.cz-icon2 {
    width: 100px;
    background-position: -120px -200px
}

.cz-icon3 {
    margin: -10px 20px 0 0;
    width: 220px;
    height: 67px;
    background-position: -240px -188px
}

.f-t-icon1 {
    background-position: 0 -260px
}

.f-t-icon2 {
    background-position: -47px -260px
}

.f-t-icon3 {
    background-position: -94px -260px
}

.f-t-icon4 {
    background-position: -141px -260px
}

.icon-hot {
    width: 48px;
    height: 48px;
    background-position: 0 -320px
}

.page-icon,.protal-icon {
    display: inline-block;
    background: url(../images/protal/protal-icon-img.png) no-repeat
}

.protal-l-icon {
    background-position: 0 0
}

.protal-phone {
    background-position: -100px 0
}

.protal-phone-num {
    width: 137px;
    height: 16px;
    background-position: -150px 0
}

.protal-down-arrow {
    width: 26px;
    height: 40px;
    background-position: 0 -100px
}

.protal-b-icon-1 {
    background-position: 0 -200px
}

.protal-b-icon-2 {
    background-position: -40px -200px
}

.protal-b-icon-3 {
    background-position: -80px -200px
}

.protal-b-icon-4 {
    background-position: -120px -200px
}

.protal-b-icon-5 {
    background-position: -160px -200px
}

.er-b-icon-1 {
    background-position: 0 -150px
}

.er-b-icon-2 {
    background-position: -40px -150px
}

.er-b-icon-3 {
    background-position: -80px -150px
}

.er-b-icon-4 {
    background-position: -120px -150px
}

.yy-icon {
    display: inline-block;
    background: url(../images/youyi/youyi-icon-img.png) no-repeat
}

.y-info-icon-1 {
    background-position: 0 0
}

.y-info-icon-2 {
    background-position: -60px 0
}

.y-info-icon-3 {
    background-position: -120px 0
}

.yy-tab-line-11 {
    background-position: 0 -300px
}

.yy-tab-line-12 {
    background-position: -198px -300px
}

.yy-tab-line-13 {
    background-position: -396px -300px
}

.yy-tab-line-14 {
    background-position: -66px -300px
}

.yy-tab-line-15 {
    background-position: -264px -300px
}

.yy-tab-line-16 {
    background-position: -462px -300px
}

.yy-tab-line-17 {
    background-position: -132px -300px
}

.yy-tab-line-18 {
    background-position: -330px -300px
}

.yy-tab-line-19 {
    background-position: -528px -300px
}

.yy-tab-line-21 {
    background-position: 0 -200px
}

.yy-tab-line-22 {
    background-position: -198px -200px
}

.yy-tab-line-23 {
    background-position: -396px -200px
}

.yy-tab-line-24 {
    background-position: -66px -200px
}

.yy-tab-line-25 {
    background-position: -264px -200px
}

.yy-tab-line-26 {
    background-position: -462px -200px
}

.yy-tab-line-27 {
    background-position: -132px -200px
}

.yy-tab-line-28 {
    background-position: -330px -200px
}

.yy-tab-line-29 {
    background-position: -528px -200px
}

.yy-tab-line-31 {
    background-position: 0 -100px
}

.yy-tab-line-32 {
    background-position: -198px -100px
}

.yy-tab-line-33 {
    background-position: -396px -100px
}

.yy-tab-line-34 {
    background-position: -66px -100px
}

.yy-tab-line-35 {
    background-position: -264px -100px
}

.yy-tab-line-36 {
    background-position: -462px -100px
}

.yy-tab-line-37 {
    background-position: -132px -100px
}

.yy-tab-line-38 {
    background-position: -330px -100px
}

.yy-tab-line-39 {
    background-position: -528px -100px
}

.product-server-icon-1 {
    background-position: 0 -400px
}

.product-server-icon-2 {
    background-position: -70px -400px
}

.product-server-icon-3 {
    background-position: -140px -400px
}

.product-server-icon-4 {
    background-position: -210px -400px
}

.product-server-icon-5 {
    background-position: -280px -400px
}

.product-server-icon-6 {
    background-position: -350px -400px
}

.public-cloud-icon-1 {
    background-position: 0 -500px
}

.public-cloud-icon-2 {
    background-position: -60px -500px
}

.public-cloud-icon-3 {
    background-position: -120px -500px
}

.public-cloud-icon-4 {
    background-position: -180px -500px
}

.experience-product-icon-1 {
    background-position: 0 -600px
}

.experience-product-icon-2 {
    background-position: -85px -600px
}

.experience-product-icon-3 {
    background-position: -170px -600px
}

.bg-l-blue {
    border-radius: 50%;
    background-color: #3db1ea
}

.bg-l-blue:hover {
    background-color: #1b77b9
}

.icon-prev {
    margin-top: 8px;
    background-position: 0 -300px
}

.icon-next {
    margin-top: 8px;
    background-position: -10px -300px
}

.footer-topbar-content .footer-topbar-item {
    float: left;
    width: 25%;
    text-align: center
}

.footer-topbar-content .footer-topbar-item p {
    margin: 10px 0;
    color: #fff
}

.footer-topbar-content .footer-topbar-item .footer-topbar-item-con {
    display: inline-block
}

.footer-topbar-content .footer-topbar-item .f-top-img {
    margin: 20px 15px 0 0
}

.footer-topbar-content .footer-topbar-item .f-top-content {
    text-align: left
}

.footer-topbar-content .footer-topbar-item .f-top-content h4 {
    margin: 20px 0 0;
    color: #73777a;
    font-size: 18px
}

.footer-topbar-content .footer-topbar-item .f-top-content p {
    margin: 5px 0 0;
    color: #858d97;
    font-size: 12px
}

.footer .footer-topbar .footer-topbar-content .footer-topbar-item {
    float: left;
    width: 25%
}

.footer .footer-topbar .footer-topbar-content .footer-topbar-item p {
    margin: 10px 0;
    color: #fff
}

.footer .footer-topbar .footer-topbar-content .footer-topbar-item .f-top-img {
    margin: 20px 15px 0 0
}

.footer .footer-topbar .footer-topbar-content .footer-topbar-item .f-top-content h4 {
    margin: 20px 0 0;
    color: #73777a;
    font-size: 18px
}

.footer .footer-topbar .footer-topbar-content .footer-topbar-item .f-top-content p {
    margin: 5px 0 0;
    color: #858d97;
    font-size: 12px
}

.footer .footer-body {
    padding: 60px 0;
    background: #23262a
}

.footer .footer-content {
    position: relative
}

.footer .footer-map-menu .footer-map-menu-item {
    float: left;
    width: 180px
}

.footer .footer-map-menu .footer-map-menu-item h5 {
    margin: 0 0 10px;
    color: #fff
}

.footer .footer-map-menu .footer-map-menu-item ul {
    padding-top: 1px
}

.footer .footer-map-menu .footer-map-menu-item li {
    margin: 10px 0;
    font-size: 12px
}

.footer .footer-map-menu .footer-map-menu-item li a {
    color: #9b9ea0
}

.footer .footer-map-menu .footer-map-menu-item li a:hover {
    color: #1297d9
}

.footer .footer-menu span {
    color: #9b9ea0
}

.footer .footer-menu a {
    padding: 0 12px;
    color: #9b9ea0;
    font-size: 14px
}

.footer .footer-menu a:hover {
    color: #1297d9
}

.footer .footer-menu a.first {
    padding-left: 0
}

.footer .copyright {
    color: #73777a;
    font-size: 12px;
    line-height: 20px
}

.footer .gzwm {
    position: absolute;
    top: -25px;
    right: 0;
    width: 290px;
    font-size: 12px;
    line-height: 12px
}

.footer .gzwm a {
    color: #999;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s
}

.footer .gzwm a:hover {
    color: #1297d9
}

.footer .gzwm a.locat {
    position: absolute;
    top: 9px;
    right: 160px;
    display: block;
    padding-left: 15px;
    width: 100px;
    height: 15px;
    background: url(../images/icon-locat.png) no-repeat 0 -20px;
    color: #1297d9;
    line-height: 15px
}

.footer .hotLine p {
    margin: 0 0 10px
}

.footer .hotLine a {
    color: #899097
}

.footer .gzwm .attention {
    float: right;
    margin: 20px 0 0;
    width: 290px;
    text-align: right
}

.footer .gzwm .attention span {
    display: inline-block;
    color: #9b9ea0;
    cursor: pointer
}

.footer .gzwm .attention li {
    margin: 8px 0
}

.footer .gzwm .attention .active {
    font-size: 14px
}

.footer .gzwm .attention .active .ewm {
    display: block
}

.footer .gzwm .attention .ewm {
    display: none;
    margin: 10px 0 0;
    text-align: right
}

.footer .gzwm .kxwz {
    float: right;
    display: block;
    margin: 10px 0 0;
    width: 336px;
    height: 32px;
    text-align: left
}

.footer .gzwm div.kxwz span {
    top: 0;
    right: 0
}

.footer .gzwm div.kxwz img {
    width: 89px;
    height: 32px
}

.footer .hotLine {
    float: right;
    width: 336px;
    color: #fff
}

.footer .hotLine .hot-img {
    margin: 0 20px 0 0
}

.footer .hotLine .hot-content {
    text-align: right
}

.footer .hotLine .hot-content h5 {
    margin: 0 0 5px;
    color: #73777a;
    font-weight: 400;
    font-size: 12px
}

.footer .hotLine .hot-content p {
    margin: 15px 0 0;
    color: #fff;
    font-weight: 700;
    font-size: 30px
}

.drak-footer .footer-body {
    background-color: #f5f5f6
}

.drak-footer .footer-map-menu .footer-map-menu-item h5 {
    color: #373d41
}

.drak-footer .footer-map-menu .footer-map-menu-item li a {
    color: #73777a
}

.drak-footer .footer-menu a {
    padding: 0 12px;
    color: #9b9ea0
}

.drak-footer .hotLine .hot-content p {
    color: #0f1e2b
}

.footer .list {
    margin-bottom: 15px
}

.drak-footer .copyright {
    font-size: 12px;
    line-height: 26px
}

.footer .gzwm .hotLine .official {
    position: absolute;
    top: 0;
    right: 36px
}

.footer .gzwm p {
    color: #899097
}

.top-menu {
    border-bottom: 1px solid #4d5b67;
    background: #0f1e2b
}

.top-menu:hover {
    border-color: #64717b;
    background: #182836
}

.top-menu .topbar-box {
    margin: 0 auto;
    width: 1280px;
    height: 60px
}

@media screen and (min-width:1500px) {
    .top-menu .topbar-box {
        width: 1500px
    }
}

.top-menu .menu-body {
    position: relative
}

.top-menu .menu-body .top-border {
    position: absolute;
    bottom: 0;
    height: 3px;
    background: #3db1ea
}

.top-menu .menu-body .menu-content {
    position: relative;
    margin: 0;
    height: 60px;
    list-style-type: none
}

.top-menu .menu-body .menu-content .menu-item {
    float: left;
    height: 60px
}

.top-menu .menu-body .menu-content .menu-item a {
    display: block;
    padding: 20px 23px;
    height: 20px;
    color: #fff;
    line-height: 20px
}

.top-menu .menu-body .menu-detail {
    position: absolute;
    top: 61px;
    z-index: 7;
    z-index: 4;
    display: none;
    padding: 30px;
    border-radius: 0 0 5px 5px;
    background: rgba(0,44,79,.9);
    background: #002e52\9;
    color: #fff
}

.top-menu .menu-body .menu-subcontent .menu-subitem {
    padding: 0 15px 0 20px;
    height: 168px;
    border-right: 1px solid #29608c
}

.top-menu .menu-body .menu-subcontent .menu-subitem h3 {
    margin: 14px 0;
    color: #fff;
    text-align: left;
    font-weight: 700;
    font-weight: 400;
    font-size: 14px
}

.top-menu .menu-body .menu-subcontent .menu-subitem ul {
    text-align: left
}

.top-menu .menu-body .menu-subcontent .menu-subitem ul li a {
    padding: 5px 0;
    color: #bce4ff;
    font-size: 12px
}

.top-menu .menu-body .menu-subcontent .menu-subitem ul li a:hover {
    color: #3db1ea
}

.top-menu .top-phone {
    padding: 17px 0 0
}

.top-menu .top-phone p {
    margin: 0;
    color: #fff;
    line-height: 20px
}

.top-menu .center-body a {
    color: #fff
}

.top-menu .center-body a:hover {
    color: #3db1ea
}

.top-menu .center-body .center-btn {
    margin: 15px 0 0;
    height: 30px;
    text-align: center;
    line-height: 30px
}

.top-menu .tool-body a {
    color: #fff
}

.top-menu .tool-body .center-btn,.top-menu .tool-body .login-btn,.top-menu .tool-body .reg-btn {
    margin: 15px 0 0;
    height: 30px;
    background: #3db1ea;
    text-align: center;
    line-height: 30px
}

.top-menu .tool-body .center-btn:hover,.top-menu .tool-body .login-btn:hover,.top-menu .tool-body .reg-btn:hover {
    background: #1297d9
}

.top-menu .tool-body .login-btn {
    padding: 0 10px 0 20px;
    border-radius: 15px 0 0 15px
}

.top-menu .tool-body .reg-btn {
    padding: 0 20px 0 10px;
    border-radius: 0 15px 15px 0
}

.top-menu .tool-body .center-btn a {
    padding: 0 10px
}

.footer .footer-topbar {
    height: 90px;
    background: #333
}

.left-tool-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px
}

.left-tool-bar .left-tool-body {
    margin: 0 0 0 -10px;
    padding: 0 0 0 10px;
    background: url(../images/protal/protal-icon-img.png) no-repeat -290px -150px
}

.left-tool-bar .left-tool-body .l-desc-body {
    margin-top: 1px;
    border-bottom: 1px solid #eee;
    border-left: 5px solid #fff
}

.left-tool-bar .left-tool-body .active {
    border-left: 5px solid #3db1ea
}

.left-tool-bar .left-tool-body .active a {
    color: #3db1ea!important
}

.left-tool-bar .l-tool-tit {
    position: relative;
    padding-top: 1px;
    width: 200px;
    height: 160px;
    background: #1b77b9
}

.left-tool-bar .l-tool-tit h1 {
    margin: 60px 0 0 20px;
    color: #fff;
    font-size: 26px
}

.left-tool-bar .l-tool-tit .protal-l-icon {
    position: absolute;
    right: 10px;
    bottom: 10px
}

.left-tool-bar .l-tool-menu .p-active .l-first-tit {
    border-left: 5px solid #3db1ea!important;
    color: #3db1ea
}

.left-tool-bar .l-tool-menu .p-active .l-sec-content {
    display: block!important
}

.left-tool-bar .l-tool-menu .p-active .l-sec-content .l-sec-item a {
    color: #3db1ea!important
}

.left-tool-bar .l-tool-menu .p-active .l-sec-content .l-sec-item a:hover {
    color: #1b77b9
}

.left-tool-bar .l-tool-menu .p-active .l-sec-content .s-active {
    background: url(../images/protal/protal-icon-img.png) no-repeat -100px -50px
}

.left-tool-bar .l-tool-menu .p-active .l-sec-content .s-active a {
    color: #fff!important
}

.left-tool-bar .l-tool-menu .l-first-item {
    border-bottom: 1px solid #eee
}

.left-tool-bar .l-tool-menu .l-first-item .l-first-tit {
    display: block;
    padding-left: 20px;
    height: 56px;
    border-left: 5px solid #fff;
    text-align: left;
    font-size: 16px;
    line-height: 60px;
    cursor: pointer
}

.left-tool-bar .l-tool-menu .l-first-item .l-first-tit:hover {
    color: #3db1ea
}

.left-tool-bar .l-tool-menu .l-first-item .l-first-tit .l-first-link {
    color: #000
}

.left-tool-bar .l-tool-menu .l-first-item .l-first-tit .l-first-link:hover {
    color: #3db1ea
}

.left-tool-bar .l-tool-menu .l-first-item .active {
    border-left: 5px solid #3db1ea
}

.left-tool-bar .l-tool-menu .l-first-item .active .l-first-link {
    color: #3db1ea
}

.left-tool-bar .l-tool-menu .l-first-item .active .l-first-link:hover {
    color: #1b77b9
}

.left-tool-bar .l-tool-menu .l-first-item .l-sec-content {
    display: none;
    padding: 10px 0
}

.left-tool-bar .l-tool-menu .l-first-item .l-sec-content .l-sec-item {
    padding: 0 20px 0 25px;
    height: 32px;
    font-size: 12px;
    line-height: 32px
}

.left-tool-bar .l-tool-menu .l-first-item .l-sec-content .l-sec-item a {
    color: #000
}

.left-tool-bar .l-tool-menu .l-first-item .l-sec-content .l-sec-item a:hover {
    color: #3db1ea
}

.left-tool-bar .left-bar-phone {
    position: relative;
    margin: 30px 0 20px;
    padding: 0 20px
}

.left-tool-bar .left-bar-phone .p-tit {
    position: absolute;
    top: 0;
    left: 50px;
    margin: 0;
    color: #bbb
}

.left-tool-bar .l-desc-body {
    padding: 30px 20px 20px
}

.left-tool-bar .l-desc-body a {
    color: #000
}

.left-tool-bar .l-desc-body a:hover {
    color: #3db1ea
}

.left-tool-bar .l-desc-body p {
    margin: 5px 0
}

.right-content {
    margin-left: 200px;
    min-height: 1000px
}

.content-group {
    padding-top: 1px
}

.content-group .col-main {
    padding: 0 0 0
}

.content-group .zq-main-head {
    text-align: center
}

.content-group .zq-main-head h1 {
    color: #373d41;
    text-align: center
}

.content-group .zq-main-head p {
    color: #5f6367;
    text-align: center
}

.content-group .zq-sub-desc {
    padding: 0 0 60px;
    text-align: center
}

.content-group .zq-sub-desc p {
    color: #999;
    font-size: 16px
}

.side-tool-bar {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 7;
    margin-top: -110px;
    text-align: center;
    font-size: 12px;
    font-family: Microsoft Yahei
}

.go-top-none,.side-tool-bar .none {
    display: none!important
}

.side-tool-bar .orange {
    color: #ff6800
}

.side-tool-bar .blue {
    color: #3db1ea
}

.side-tool-bar i {
    margin: 5px auto
}

.side-tool-bar .cart {
    position: relative
}

.side-tool-bar .border-none {
    border: none!important
}

.side-tool-bar .cart-num {
    position: absolute;
    top: 5px;
    left: 32px;
    z-index: 5;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #ff0;
    color: #ff1e00;
    text-align: center;
    font-size: 12px;
    line-height: 13px
}

.side-tool-bar .tool-bar {
    margin: 0;
    width: 56px
}

.side-tool-bar .tool-bar .active .t-tit {
    color: #3db1ea!important
}

.side-tool-bar .tool-bar .active .t-i-i {
    background: #d5f1ff!important
}

.side-tool-bar .tool-bar .active .t-i-i .icon-cart {
    background-position: 0 -43px
}

.side-tool-bar .tool-bar .active .t-i-i .icon-connect {
    background-position: -44px -46px
}

.side-tool-bar .tool-bar .active .t-i-i .icon-phone {
    background-position: -90px -44px
}

.side-tool-bar .tool-bar .active .t-i-i .icon-hot-active {
    background-position: -136px -46px
}

.side-tool-bar .tool-bar .active .t-i-i .icon-free-call {
    background-position: -182px -43px
}

.side-tool-bar .tool-item {
    position: relative;
    cursor: pointer
}

.side-tool-bar .tool-item .yellow {
    color: #ffa800
}

.side-tool-bar .tool-item .t-i {
    width: 56px;
    height: 53px;
    border-bottom: 1px solid #7acef8
}

.side-tool-bar .tool-item .t-i .t-tit {
    margin: -10px 0 0;
    color: #fff
}

.side-tool-bar .tool-item .t-i .ts-tit {
    margin: -10px 0 3px;
    padding: 0 5px;
    color: #3db1ea
}

.side-tool-bar .tool-item .t-i .t-i-i {
    position: relative;
    z-index: 4;
    width: 56px;
    height: 53px;
    background: #3db1ea
}

.side-tool-bar .tool-item .t-i .t-i-i:hover {
    background: #d5f1ff
}

.side-tool-bar .tool-item .t-i .t-i-i:hover .t-tit {
    color: #3db1ea!important
}

.side-tool-bar .tool-item .t-i .t-i-i:hover .icon-cart {
    background-position: 0 -43px
}

.side-tool-bar .tool-item .t-i .t-i-i:hover .icon-connect {
    background-position: -44px -46px
}

.side-tool-bar .tool-item .t-i .t-i-i:hover .icon-phone {
    background-position: -90px -44px
}

.side-tool-bar .tool-item .t-i .t-i-i:hover .icon-hot-active {
    background-position: -136px -46px
}

.side-tool-bar .tool-item .t-i .t-i-i:hover .icon-free-call {
    background-position: -182px -43px
}

.side-tool-bar .tool-item .t-i .s-p-con {
    overflow: hidden
}

.side-tool-bar .tool-item .t-i .s-p-con .phone-line {
    margin: 5px 10px 0 20px;
    padding: 0 0 5px;
    border-bottom: 1px solid #b2e5ff
}

.side-tool-bar .tool-item .t-i .t-con {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 0 5px 0 0;
    width: 161px;
    height: 53px;
    border-radius: 26px 0 0 26px;
    background: #d5f1ff
}

.side-tool-bar .tool-item .t-i .t-con .p-tit {
    margin: 4px 0 0;
    color: #3db1ea;
    text-align: left;
    font-size: 12px;
    line-height: 16px
}

.side-tool-bar .tool-item .t-i .t-con .p-num {
    margin: 0;
    color: #3db1ea;
    text-align: left;
    font-weight: 700;
    font-size: 16px
}

.side-tool-bar .tool-item .t-i .t-con .hot-link {
    line-height: 53px
}

.side-tool-bar .tool-item .t-i .t-con .hot-link a {
    color: #3db1ea
}

.side-tool-bar .tool-item .t-i .t-con .hot-link a:hover {
    text-decoration: underline
}

.side-tool-bar .tool-item .t-i .t-con .mobile-line {
    padding: 0
}

.side-tool-bar .tool-item .t-i .t-con .mobile-line .m-tit {
    margin: 5px 0;
    padding: 0 0 0 20px;
    color: #3db1ea;
    text-align: left
}

.side-tool-bar .tool-item .t-i .t-con .mobile-line input {
    padding: 0 5px;
    width: 103px;
    height: 25px;
    border: none;
    border-radius: 2px 0 0 2px;
    background: #fff;
    line-height: 25px
}

.side-tool-bar .tool-item .t-i .t-con .t-i-si:hover {
    background-color: #c0eaff
}

.side-tool-bar .tool-item .cart-detail {
    color: #3db1ea;
    line-height: 53px
}

.side-tool-bar .tool-item .cart-detail a {
    color: #3db1ea
}

.side-tool-bar .tool-item .cart-detail a:hover {
    text-decoration: underline
}

.side-tool-bar a {
    text-decoration: none
}

.go-top .ricon,.side-tool-bar .ricon {
    display: block;
    margin: 0 auto!important;
    width: 46px;
    height: 43px
}

.go-top,.go-top .ricon,.side-tool-bar .ricon {
    background-image: url(../images/common/newsidetoolbar.png);
    background-repeat: no-repeat
}

.go-top {
    position: fixed;
    right: 0;
    bottom: 112px;
    z-index: 6;
    float: left;
    width: 38px;
    height: 38px;
    border-radius: 3px 0 0 3px;
    background-color: #3db1ea;
    background-position: -3px -101px;
    cursor: pointer
}

.go-top:hover {
    background-color: #1b77b9
}

.imzixun-body {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 7
}

.imzixun-body img {
    float: left
}

.icon-cart {
    background-position: 0 0
}

.icon-connect {
    background-position: -44px -3px
}

.icon-phone {
    background-position: -90px -1px
}

.icon-hot-active {
    background-position: -136px -3px
}

.icon-free-call {
    background-position: -182px 0
}

.icon-to-top {
    background-position: -200px 0
}

.icon-qq {
    background-position: -90px -113px
}

.icon-online {
    background-position: -150px -113px
}

.right-icon {
    margin: 0!important;
    width: 23px;
    height: 25px;
    border-radius: 0 2px 2px 0;
    background-color: #3db1ea;
    background-image: url(../images/common/newsidetoolbar.png);
    background-position: -55px -112px;
    background-repeat: no-repeat;
    cursor: pointer
}

.none {
    display: none
}

.public-tab .tab-tit {
    text-align: center
}

.public-tab .tab-tit ul {
    display: inline
}

.public-tab .tab-tit li {
    display: inline-block;
    margin: 0 10px
}

.public-tab .tab-tit li a {
    display: block;
    padding: 0 20px;
    height: 30px;
    border-radius: 5px;
    color: #333;
    text-align: center;
    line-height: 30px
}

.public-tab .tab-tit li a.active,.public-tab .tab-tit li a:hover {
    background: #3db1ea;
    color: #fff
}

.public-tab .tab-con .tab-con-item {
    display: none
}

.public-tab .tab-con .block {
    display: block
}

.zx_pop {
    position: fixed!important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.zx_pop .mask-body {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8
}

.active_pop_body,.dzsw-pop,.zero_pop {
    position: fixed!important;
    top: 50%;
    left: 50%;
    z-index: 6;
    margin-top: -245px;
    margin-left: -355px;
    width: 710px;
    height: 480px;
    border: 1px solid #ddd\9;
    border-top: 3px solid #1a87bd;
    box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
    border-radius: 20px;
    background: #fff
}

.apply-con {
    position: relative
}

.apply-con a.close {
    width: 44px;
    height: 44px;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    background: url(../images/common/close-img.png) #fff no-repeat 50%;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    border-radius: 50%
}

.zero_pop,.zero_pop .apply-con {
    height: 410px
}

.apply-con .apply-top {
    height: 170px;
    background: url(../images/common/Intention-tit-bg.png) #3db1ea no-repeat 50%;
    border-radius: 20px 20px 0 0
}

.apply-con a.close:hover {
    background-color: #eee
}

.apply-con .title {
    font-size: 34px;
    color: #fff;
    text-align: center;
    padding-top: 60px;
    line-height: 34px
}

.apply-con .title.wherecity {
    z-index: 2
}

.apply-con .subtitle {
    line-height: 50px;
    color: #fff;
    padding-bottom: 10px;
    text-align: center
}

.apply-con .form {
    padding: 30px 50px
}

.apply-con .textfile {
    width: 406px;
    height: 40px;
    margin-bottom: 15px;
    position: relative;
    padding-left: 110px
}

.apply-con .textfile span.t {
    width: 80px;
    height: 40px;
    line-height: 40px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    text-align: right
}

.apply-con .textfile input {
    width: 384px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #e4e4e4;
    padding: 0 10px
}

.apply-con .textfile .emailist {
    border: 1px solid #e4e4e4;
    background-color: #fff;
    line-height: 30px
}

.apply-con .textfile .emailist li {
    padding: 0 10px
}

.apply-con .textfile .emailist li.on {
    background-color: #b2b2b2;
    padding: 0 10px
}

.apply-con .wherecity input {
    width: 105px;
    border: none;
    background: 0 0
}

.apply-con .lxman input {
    width: 384px
}

.apply-con .lxman .appellation {
    width: 132px;
    height: 40px;
    position: absolute;
    left: 400px;
    top: 0
}

.apply-con .lxman .appellation input {
    width: 16px;
    float: left;
    border: none;
    padding: 0;
    margin-right: 5px
}

.apply-con .lxman .appellation span {
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block
}

.apply-con .textfile a.submit {
    width: 130px;
    height: 37px;
    display: inline-block;
    background: #3db1ea;
    text-align: center;
    line-height: 37px;
    color: #fff;
    font-size: 16px;
    border-radius: 19px;
    margin: 20px 0 0
}

.apply-con .textfile a.submit:hover {
    background: #1b77b9
}

.apply-con .yzm input {
    width: 212px
}

.apply-con .yzm a {
    width: 157px;
    height: 38px;
    display: block;
    line-height: 38px;
    text-align: center;
    color: #666;
    background: #f0f0f0;
    border: 1px solid #dfdfdf;
    position: absolute;
    left: 357px;
    top: 0
}

.nice-select {
    width: 126px;
    height: 38px;
    border: 1px solid #e4e4e4;
    position: relative;
    background: #fff url(../images/icon-a2.jpg) no-repeat 100%;
    cursor: pointer;
    float: left
}

.marginr {
    margin-right: 11px
}

.free-ask .textfile .nice-select input {
    display: block;
    outline: 0;
    background: 0 0;
    cursor: pointer
}

.free-ask .nice-select input {
    display: block;
    width: 108px;
    height: 38px;
    line-height: 38px\9;
    border: 0;
    outline: 0;
    background: 0 0;
    cursor: pointer;
    color: #999
}

.nice-select ul {
    width: 100%;
    display: none;
    position: absolute;
    left: -1px;
    top: 38px;
    overflow: hidden;
    background-color: #fff;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #e4e4e4;
    border-top: 0;
    z-index: 7
}

.nice-select ul li {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding: 0 10px;
    cursor: pointer
}

.nice-select ul li.on {
    background-color: #fff7f0
}

.page {
    line-height: 30px;
    font-size: 12px
}

.all-page {
    float: left;
    margin-right: 5px
}

.all-page span {
    color: #3db1ea
}

.flip-page {
    float: right
}

.flip-page ul {
    text-align: center
}

.flip-page li {
    float: left;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    line-height: 30px
}

.flip-page li a {
    margin: 0;
    padding: 0;
    display: block;
    border-radius: 50%;
    color: #666
}

.flip-page li a.active,.flip-page li a:hover {
    color: #fff;
    background: #3db1ea
}

.flip-page li a.default {
    color: #d7d7d7;
    cursor: default
}

.now-page {
    float: left
}

.now-page span {
    color: #3db1ea;
    padding: 0 5px
}

.public-bottom-body {
    width: 100%;
    height: 379px;
    background: url(../images/bigpush/bottom-bg.jpg) repeat-x
}

.white-all-btn {
    display: inline-block;
    padding: 0 30px;
    height: 42px;
    border-radius: 21px;
    background: #fff;
    color: #3db1ea;
    text-align: center;
    line-height: 42px;
    cursor: pointer
}

.white-all-btn a {
    color: #3db1ea
}

.white-all-btn a:hover {
    color: #fff
}

.white-all-btn:hover {
    background: #3db1ea;
    color: #fff;
    transition: all .5s linear .1s
}

.white-all-btn:hover a {
    color: #fff
}

.public-bottom-content {
    padding: 50px 0 0
}

.public-bottom-content .b-left-bar {
    padding: 0 60px 0 30px
}

.public-bottom-content .b-left-bar h3 {
    margin: 0 0 10px;
    color: #fff;
    font-size: 34px
}

.public-bottom-content .b-left-bar p {
    margin: 0
}

.public-bottom-content .b-left-bar .b-l-desc {
    color: #fff;
    line-height: 30px
}
