.registContent {
  height: auto;
  padding:80px 0px;
  background: url(../images/refistbg.png); 
}
.registContent .iRegistContent {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.registContent .iRegistContent{
  width: 700px;
  background: #fff;
  margin: 0 auto;
  /*margin-top: 80px;*/
  padding-bottom:60px;
  overflow: hidden;
}
.registContent .iRegistContent h{ text-align:center; display:block; padding-bottom:15px;}
.registContent .iRegistContent .reTitle {
  overflow: hidden;
  margin-bottom: 58px;
}
.registContent .iRegistContent .reTitle li { 
  cursor: pointer;
  width: 350px;
  height: 68px;
  float: left;
  font: 20px/68px "微软雅黑";
  color: #777;
  background: #F6F6F6;
  text-align: center;
  border-top: 2px solid transparent ;
  border-bottom: 1px solid #e8e8e8 ;
  border-right: 1px solid #e8e8e8 ;
}
.registContent .iRegistContent .reTitle li.active {
  color: #FA7736;
  background: #fff;
  border-top-color: #FA7736;
  border-bottom-color: transparent ;
}
.registContent .iRegistContent .reTitle li:first-child {
  width: 349px;
}
.registContent .iRegistContent .reTitle li:first-child + li {
  border-right: none;
}
.registContent .iRegistContent div {
  width: 600px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 15px;
}
.registContent .iRegistContent div label {
  display: block;
  width: 142px;
  height: 40px;
  float: left;
  font: 14px/40px "微软雅黑";
  color: #555;
  text-align: right;
}
.registContent .iRegistContent div input {
  width: 328px;
  height: 38px;
  border: 1px solid #e4e4e4;
  margin-left: 16px;
  text-indent:12px;
  padding-left:25px;
}
.registContent .iRegistContent  #team div input {
  width: 328px;
  height: 38px;
  border: 1px solid #e4e4e4;
  margin-left: 16px;
  text-indent:12px;
  padding-left:40px;
}
.registContent .iRegistContent div .reYanzheng {
  width: 188px;
  display: inline-block;
  vertical-align: top;
}
.registContent .iRegistContent div .reCode {

  height: 38px;
   display: inline-block;
  margin-left: 15px;
  border: 1px solid #e4e4e4;
}
.registContent .iRegistContent div button {
  margin-left: 0;
  width: 164px;
  height: 38px;
  background: #2894e4;
  border: none;
  font: 14px/38px "微软雅黑";
  color: #fff !important;
}
.registContent .iRegistContent div .reYanzheng2 {
  width: 149px;
  display: inline-block;
  vertical-align: top;
  margin: 0px 15px 0 159px;
   margin-left: 15px;

}
.registContent .iRegistContent div .reCheck {
  display: inline-block;

  width: 12px;
  height: 12px;
  margin-top: 1px;
  margin-left: 158px;
}
.registContent .iRegistContent div i {
  float: left;
  font: 12px/12px "微软雅黑";
  margin-left: 6px;
}
.registContent .iRegistContent .sDiv {
  margin-top: 28px;
  margin-bottom: 28px;
}
.registContent .iRegistContent button {
  width: 330px;
  height: 40px;
  background: #FA7736;
  border: none;
  font: 16px/40px "微软雅黑";
  color: #fff;
  margin-left: 210px;
  
}
.registContent .iRegistContent p { 
  text-indent: 210px;
  margin-top: 23px;
  font: 14px/16px "微软雅黑";
  color: #555;
}
.registContent .iRegistContent p span {
  color: #2894e4;
}

#verify_img{ width:122px; height:36px;}



