/*成果发布*/
.cgfb_title {
    border-bottom: 2px solid #3a7dc6;
	padding-bottom:10px;
    text-align: center;
    font-size: 26px;
    color: #333;
}
.cgfb_title span{
    display:inline-block;
    position:relative;
	margin-left:10px;
	font-size:14px;
	color:#0d6fb8;
}
.zxheight{ min-height:506px;}
.cgfb_list{ /*border-top:1px solid #e8903e;*/ margin-bottom:30px;}
.cgfb_list table{ font-size:16px; color:#555; }
.cgfb_list table tr.trbg{ background:#fff;}
.cgfb_list table tr.trbge{ background:#fff;}
.cgfb_list table tr.trbg button,.cgfb_list table tr.trbge button{ width:110px; height:40px; background:#fff; border:1px solid #fa7736; color:#fa7736; }
.cgfb_list table tr.trbg:hover,.cgfb_list table tr.trbg:hover{ background:#f9f9f9 !important; color:#555;}
.cgfb_list table tr.trbg:hover button,.cgfb_list table tr.trbg:hover button{ border:none; background:#fa7736; color:#fff;}
/*.cgfb_list table tr.trbg:hover a,.cgfb_list table tr.trbg:hover a{ color:#fff;}*/
.cgfb_list table th, .cgfb_list table td{ border-top:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; padding:10px 20px;}
.cgfb_list table td{ height:80px;}
.cgfb_list table th{ background:#f9f9f9;  height:50px; font-size:16px; color:#777; font-weight:normal;}
.cgfb_list table tr td a{ color:#555}


/*成果发布-内页*/
.cgfb_projectbox{ width:1200px; height:auto; margin:30px auto; overflow:hidden;}
.cgfb_project_l{ width:820px; height:auto; overflow:hidden; float:left; margin-right:30px;}
.cgfb_project_r{ width:350px; height:auto; overflow:hidden; float:left;}
.cgfb_project_r img{ display:block;}
.cgfb_project{ border-top:1px solid #2894e4; position:relative; margin-bottom:20px;}
.cgfb_project h{ width:100%; display:block; font-size:22px; font-weight:bold; color:#555; padding:20px 0px; border-bottom:1px solid #e4e4e4; margin-bottom:20px;}
.cgfb_project p{ font-size:16px; color:#555; line-height:30px;}
.cgfb_project p.fbtime{ color:#777;}
.cgfb_project button{ position:absolute; width:110px; height:40px; background:#fa7736; color:#fff; font-size:16px; line-height:40px; right:0px; top:15px; }
.cgfb_project_nr{ border:1px solid #0d6fb8; padding:20px 30px; color:#333; min-height:206px; position:relative; height: auto; overflow: hidden; }
.cgfb_project_nr h1{ font-size:24px;font-weight:normal; text-align:center; border-bottom:1px solid #ccc; padding-bottom:10px; margin-bottom:20px;}
.cgfb_project_nr h1 span{display:inline-block; position:relative; margin-left:10px;font-size:14px; color:#0d6fb8;}
.cgfb_project_nr p{ font-size:14px; line-height:30px;}
.cgfb_project_nr img.fuwbk{ float:right; margin-bottom:10px; }
.cgfb_project_lxb{ height:auto; overflow:hidden; margin-top:20px;}
.cgfb_project_lxt{ border-bottom:1px solid #2894e4; height:40px;}
.cgfb_project_lxt span{ display:block; width:120px; height:40px; background:#2894e4; color:#fff; text-align:center; font-size:18px; line-height:40px;}
.cgfb_project_lxn{ font-size:16px; line-height:30px; margin:20px 0px;}

/*技术需求*/
.jsxq_list_box{width: 100%; height: auto; overflow: hidden; }
.jsxq_list{ border-top:1px solid #e4e4e4; margin-bottom:30px; }
.jsxq_list ul li{ border-bottom:1px solid #e4e4e4; width:1200px; height:auto; padding:20px; overflow:hidden; position:relative;}
.jsxq_list ul li h1{ display:block; font-size:22px; font-weight:bold;}
.jsxq_list ul li h2{ display:block; font-size:16px; color:#aaa; clear:both;}
.jsxq_list ul li p{ display:block; width:auto; color:#777;}
.jsxq_list ul li i{ margin:0px 15px; color:#ccc;}
.jsxq_list ul li p,.jsxq_list ul li i{ float:left; font-size:16px; padding:8px 0px; }
.jsxq_list ul li.trbg{ background:#fff;}
.jsxq_list ul li.trbge{ background:#fff;}
.jsxq_list ul li.trbg button,.jsxq_list ul li.trbge button{ width:110px; height:40px; background:#fff; border:1px solid #fa7736; color:#fa7736; font-size:16px; position:absolute; right:20px; top:46px;}
.jsxq_list ul li.trbg:hover,.jsxq_list ul li.trbge:hover{ background:#f9f9f9 !important; color:#555;}
.jsxq_list ul li.trbg:hover button,.jsxq_list ul li.trbge:hover button{ border:none; background:#fa7736; color:#fff;}
.jsxq_list ul li.trbg:hover a,jsxq_list ul li.trbge:hover a{ color:#fff;}


/*.jsxq_list table{ font-size:16px; color:#333; }
.jsxq_list table tr.trbg{ background:#d5e2ec;}
.jsxq_list table tr.trbge{ background:#fff;}
.jsxq_list table tr.trbg:hover,.jsxq_list table tr.trbge:hover{ background:#539ed5 !important; color:#fff;}
.jsxq_list table tr.trbg:hover a,.jsxq_list table tr.trbge:hover a{ color:#fff;}
.jsxq_list table th, .jsxq_list table td{ border:1px solid #2c83c3; height:50px; padding:10px 20px;}
.jsxq_list table th{ background:#d5e2ec;}
.jsxq_list table tr td a{ color:#333}*/

/*投融资信息*/
.trz_bor{ border-bottom:1px solid #d4d4d4; margin-left:145px; margin-right:290px;}
.trz_boxl{ width:580px; margin-right:40px; float:left;}
.trz_xml{ border:4px solid #d94e23; padding:0px 20px 20px 20px;}
.trz_titlel{ height:60px; background:url(../images/trz-bg01.png) no-repeat top; text-align:center; font-size:28px; line-height:50px; color:#fff;}
.trz_xbt{ color:#0d6fb8; font-size:16px; line-height:40px;}
.trz_list{ font-size:14px; color:#333;}
.trz_list table tr.dscol{ background:#f2e2de;}
.trz_list table tr.sscol{ background:#fff;}
.trz_list table tr th,.trz_list table tr td{ border:1px solid #e29a84; padding:0px 10px; }
.trz_list table tr th.leftbor,.trz_list table tr td.leftbor{ border-left:none; }
.trz_list table tr th.rigbor,.trz_list table tr td.rigbor{ border-right:none; }
.trz_list table tr th{ height:70px; color:#d94e23;}
.trz_list table tr td{ height:75px; font-size:12px; text-align:center; line-height:20px;}
.trz_list table tr td a{ color:#333;}
.trz_list table tr td a:hover{ color:#d94e23;}

.trz_boxr{ width:580px; float:left;}
.trz_xmr{ border:4px solid #e8903e; padding:0px 20px 20px 20px;}
.trz_titler{ height:60px; background:url(../images/trz-bg02.png) no-repeat top; text-align:center; font-size:28px; line-height:50px; color:#fff;}
.trz_listr{ font-size:14px; color:#333;}
.trz_listr table tr.dscol{ background:#fff;}
.trz_listr table tr.sscol{ background:#eee5dc;}
.trz_listr table tr th,.trz_listr table tr td{ border:1px solid #e9c5a3; padding:0px 10px; }
.trz_listr table tr th.leftbor,.trz_listr table tr td.leftbor{ border-left:none; }
.trz_listr table tr th.rigbor,.trz_listr table tr td.rigbor{ border-right:none; }
.trz_listr table tr th{ height:67px; color:#e8903e;}
.trz_listr table tr td{ height:63px; font-size:12px; text-align:center; line-height:20px;}
.trz_listr table tr td a{ color:#333;}
.trz_listr table tr td a:hover{ color:#d94e23;}

/*会员信息*/

.member_list_box{ width:1200px; height:auto; margin:0px auto; overflow:hidden; }
.member_ban{ width:100%; height:320px;}
.member_ban img{ height:320px;}
.member_apply{ width:590px; height:330px; background:url(../images/bg-hyxx01.png) no-repeat; position:absolute; z-index:10; top:280px;}
.member_apply h2{ display:block; position:absolute; font-size:34px; font-weight:bold; color:#fff; right:130px; top:90px;}
.member_apply p{ display:block; position:absolute; font-size:18px; color:#fff; left:196px; top:150px;}
.member_apply h2 span,.member_apply p span{ color:#0e334f;}
.member_apply a{ display:block; position:absolute; top:210px; left:137px; width:300px; height:60px; border-radius:5px; background:#fff; font-size:24px; text-align:center; line-height:60px;  color:#2894e4;}
.member_apply a span{ color:#fa7736;}
.member_apply a:hover{ background:#e2f3ff; }

.member_search{ width:1200px; height:100px; background:#f8f8f8; position:relative;}
.member_search input{ position:absolute; right:115px; top:30px; width:285px; height:40px; border:1px solid #d7d7d7; border-right:none; text-indent:10px;}
.member_search button{ position:absolute; right:20px; top:30px; width:95px; height:40px; background:#2894e4; font-size:16px; color:#fff; }
.member_search button span{ padding-right:5px;}
.member_tab{ height:60px; margin-top:50px; position:relative; border-bottom:1px solid #e8e8e8; }
.member_tab ul li{ width:294px; height:60px; border-bottom:1px solid #e8e8e8; background:#f6f6f6; text-align:center; line-height:59px; font-size:20px; float:left; cursor:pointer;}
.member_tab ul li.on{ background:#fff; border-top:2px solid #2894e4; border-left:1px solid #e8e8e8; border-bottom:none; border-right:1px solid #e8e8e8;}
.member_listb{ height:auto; overflow:hidden; }
.member_listb ul{ height:auto; overflow:hidden; }
.member_listb ul li{ width:386px; height:auto; overflow:hidden; padding:20px 30px; border:1px solid #e4e4e4; float:left; margin-right:20px; margin-top:20px; cursor:pointer;}
.member_listb ul li:hover{ border:1px solid #2894e4;}
.member_listb ul li:hover a{ background: #fa7736; border:none; color:#fff;}
.member_listb ul li:nth-child(3n){ margin:0px;}
.member_listb ul li h1{ font-size:20px; padding-bottom:15px; border-bottom:1px solid #e4e4e4; margin-bottom:10px;}
.member_listb ul li p{ display:block; width:auto; color:#777;}
.member_listb ul li i{ margin:0px 10px; color:#ccc;}
.member_listb ul li p,.member_listb ul li i{ float:left; font-size:16px; padding:5px 0px;}
.member_listb ul li p.hzyx{ clear:both; padding-bottom:10px;}
.member_listb ul li a{ display:block; clear:both; width:110px; height:40px; border:1px solid #fa7736; color:#fa7736; font-size:16px; text-align:center; line-height:40px; }

/*.member_xxl{ border:4px solid #2c84c3; padding:53px 20px 20px 20px; margin-top:33px; position:relative; }
.member_titlel{ width:430px; height:70px; font-size:28px; color:#fff; background:#2c84c3; border-radius:70px; position:absolute; top:-37px; left:71px; text-align:center; line-height:70px;}
.member_list{ font-size:14px; color:#333;}
.member_list table tr.dscol{ background:#dae4ee;}
.member_list table tr.sscol{ background:#fff;}
.member_list table tr th,.member_list table tr td{ border:1px solid #3388c5; padding:0px 20px; }
.member_list table tr th.leftbor,.member_list table tr td.leftbor{ border-left:none; }
.member_list table tr th.rigbor,.member_list table tr td.rigbor{ border-right:none; }
.member_list table tr th{ height:40px; color:#2c84c3; font-size:16px;}
.member_list table tr td{ height:40px; text-align:center; line-height:20px;}
.member_list table tr td a{ color:#333;}
.member_list table tr td a:hover{ color:#2c84c3;}
.member_list table tr td.leftjg{ text-align:left;}

.member_xxr{ border:4px solid #35a447; padding:53px 20px 20px 20px; margin-top:33px; position:relative; }
.member_titler{ width:430px; height:70px; font-size:28px; color:#fff; background:#35a447; border-radius:70px; position:absolute; top:-37px; left:71px; text-align:center; line-height:70px;}
.member_listr{ font-size:14px; color:#333;}
.member_listr table tr.dscol{ background:#daeedd;}
.member_listr table tr.sscol{ background:#fff;}
.member_listr table tr th,.member_listr table tr td{ border:1px solid #35a447; padding:0px 20px;}
.member_listr table tr th.leftbor,.member_listr table tr td.leftbor{ border-left:none; }
.member_listr table tr th.rigbor,.member_listr table tr td.rigbor{ border-right:none; }
.member_listr table tr th{ height:40px; color:#35a447; font-size:16px;}
.member_listr table tr td{ height:40px; text-align:center; line-height:20px;}
.member_listr table tr td a{ color:#333;}
.member_listr table tr td a:hover{ color:#35a447;}
.member_listr table tr td.leftjg{ text-align:left;}*/





/*会员信息-内页*/
.member_ny_box{ width:100%; height:auto; /*background:#f8f8f8;*/ overflow:hidden;}
.member_ny_data{ background:#f8f8f8; height:auto; overflow:hidden;}
.member_ny_grb{ height:auto; background:#f8f8f8; overflow:hidden; padding:20px 0px; }
.member_nyb{ width:1200px; height:auto; margin:0px auto; overflow:hidden;}
.member_nyb h1{ font-size:20px;}
.member_ny_jbxx{ width:330px; height:360px; float:left; padding:20px; padding-top:80px; background:#fff; border:1px solid #e4e4e4; position:relative; margin-right:20px;}
.member_ny_jbxx:last-child{ margin:0px;}
.member_ny_jbxx h2{ display:block; width:120px; height:40px; background:#2894e4; color:#fff; text-align:center; line-height:40px; position:absolute; left:0px; top:20px; font-size:18px;}
.member_ny_jbxx p{ display:block; height:40px; line-height:40px; padding:0px !important; font-size:16px; border-bottom:1px solid #e4e4e4;}
.member_ny_jbxx p label{ width:80px; text-align:right; margin:0px;}
.member_ny_grjl{ width:1200px; height:auto; overflow:hidden; float:left; margin-top:20px;}
.member_ny_grjl h1{ display:block; width:100%; height:39px; border-bottom:1px solid #2894e4; font-size:18px;}
.member_ny_grjl h1 span{ display:block; width:120px; height:39px; background:#2894e4; color:#fff; font-weight:normal; text-align:center; line-height:39px;}
.member_ny_grjl p{ display:block; width:100%; padding:20px 0px; font-size:16px;}


/*投融资信息*/
.investment_tab{ width:300px; height:60px; position:absolute; left:280px; bottom:0px;}
.investment_tab ul li{ display:block; width:150px; height:60px; border:1px solid #e4e4e4; font-size:18px; color:#555; float:left; line-height:58px; text-align:center; cursor:pointer; }
.investment_tab ul li.on{ background:#2894e4; color:#fff; border:none;}
.investment_list{ width:1200px; height:auto; overflow:hidden;}
.investment_list ul li{ border:1px solid #e4e4e4; margin-bottom:20px; padding:30px; height:auto; overflow:hidden; position:relative;}
.investment_list ul li:hover{border:1px solid #2894e4; background:#fff;}
.investment_list ul li button{ width:110px; height:40px; border:1px solid #fa7736; background:#fff; font-size:16px; color:#fa7736; position:absolute; right:30px; top:59px;}
.investment_list ul li:hover button{ background:#fa7736; color:#fff; border:none;}
.investment_list_bt{ padding-bottom:10px; height:auto; overflow:hidden;}
.investment_list_bt h1{ width:auto; font-size:22px; font-weight:bold; color:#555; float:left; margin-right:5px;}
.investment_list_bt label{ display:block; width:70px; height:24px; background:#fff4ef; border:1px solid #ffc6a9; border-radius:3px; text-align:center; line-height:22px; float:left; margin:5px; font-size:14px; color:#fa7736;}
.investment_list_bt label.duij{ background:#f0f9ff; border:1px solid #b7e0ff; color:#2894e4;}
.investment_list_nr{ width:200px; height:auto; overflow:hidden; border-right:1px solid #e4e4e4; float:left; text-align:center;}
.investment_list_nr:nth-child(4n){ border:none;}
.investment_list_nr p{ display:block; width:100%; font-size:18px; color:#555; line-height:26px;}
.investment_list_nr p.jine{ color:#fa7736;}
.investment_list_nr p.fenl{ color:#777; font-size:14px;}


/*投融资信息-内页*/
.investment_ny_lt{ border:1px solid #e4e4e4; padding:30px; margin-bottom:20px; overflow:hidden; position:relative;}
.investment_ny_lt button{ position:absolute; width:110px; height:40px; background:#fa7736; color:#fff; text-align:center; line-height:40px; font-size:16px; right:30px; top:25px;}
.investment_ny_lt h1{ display:block; width:100%; font-size:22px; font-weight:bold; color:#555; float:left; border-bottom:1px solid #e4e4e4; padding-bottom:20px; margin-bottom:30px;}
.investment_ny_ltnr{ width:189px; height:auto; overflow:hidden; border-right:1px solid #e4e4e4; float:left; text-align:center;}
.investment_ny_ltnr:nth-child(5n){ border:none;}
.investment_ny_ltnr p{ display:block; width:100%; font-size:18px; color:#555; line-height:26px;}
.investment_ny_ltnr p.jine{ color:#fa7736;}
.investment_ny_ltnr p.fenl{ color:#777; font-size:14px;}
.investment_ny_ltsj{ width:100%; height:auto; padding-top:30px; overflow:hidden; position:relative}
.investment_ny_ltsj p{ color:#aaa; font-size:16px;}
.investment_ny_ltsj p.hzfs{ position:absolute; right:0px; top:30px; color:#777;}




/*网站首页*/
.keguo_banner{ width:100%; height:auto; overflow:hidden;}
.keguo_banner img{ width:100%; height:auto;}
.keguo_box{ width:1200px; height:auto; margin:60px auto; overflow:hidden;}
.keguo_bt{ width:100%; height:120px; background:url(../images/index-bg01.png) no-repeat 460px; position:relative; margin-bottom:30px;}
.keguo_bt h1{ position:absolute; display:block; width:200px; font-size:34px; color:#555; font-weight:normal; left:526px; top:24px; text-align:center;}
.keguo_bt p{ position:absolute; display:block; width:200px; font-size:14px; color:#2894e4; left:526px; top:70px; text-align:center;}
.keguo_jj{ height:auto; overflow:hidden;}
.keguo_jj img{ display:block; width:480px; height:340px; float:left;}
.keguo_jj p{ width:720px; height:300px; background:#2894e4; float:left; margin-top:20px; padding:30px 48px; font-size:16px; line-height:30px; color:#fff; text-indent:30px;}
.keguo_gnbox{ width:100%; height:auto; overflow:hidden; background:url(../images/index-bg02.png) no-repeat center;}
.keguo_gn{ height:auto; overflow:hidden;}
.keguo_dt{ height:auto; overflow:hidden;}
.keguo_dtl{ width:640px; height:auto; margin-right:50px; overflow:hidden; float:left; padding-top:15px;}
.keguo_dtl ul li{ width:100%; height:auto; overflow:hidden; border-bottom:1px dashed #e4e4e4; padding:20px 0px;}
.keguo_dtsj{ width:95px; height:80px; background:#f6f6f6; margin-right:20px; float:left;}
.keguo_dtsj h1{ display:block; font-size:40px; color:#aaa; font-weight:normal; text-align:center; line-height:40px; padding-top:10px;}
.keguo_dtsj p{ display:block; font-size:14px; color:#aaa; text-align:center;}
.keguo_dtnr{ width:525px; height:80px; float:left;}
.keguo_dtnr p{ font-size:16px; color:#777;}
.keguo_dtnr p.neir{ height:46px; overflow:hidden; }
.keguo_dtnr p a{ display:block; font-size:18px; color:#555; font-weight:bold; overflow:hidden; margin-bottom:5px;}
.keguo_dtr{ width:510px; height:393px;  position:relative; float:left;}
.keguo_dtr img{ position:absolute; display:block; width:480px; height:360px; left:0px; bottom:0px; z-index:20;}
.keguo_dtr p{ position:absolute; display:block; width:480px; height:360px; background:#2894e4; right:0px; top:0px; z-index:10;}



/*top*/
.kgw-top{ width:100%; height:40px; background:#f6f6f6;}
.kgw-topb{ width:1200px; height:40px; margin:0px auto; position:relative;}
.welcome_kg{ line-height:40px;}
.kgw-topr{ width:500px; position:absolute; right:0px; top:0px; line-height:40px; text-align:right; }
.kgw-topr div{ width:auto; float:right; }
.kgw-topr a{ padding:0px 10px;}
.kgw-topr .gzh{ padding-left:20px; background:url(../images/common_2.png) left center no-repeat; cursor: pointer;}
.kgw-topr a.kefu{ padding-right:0px; color:#fa7736;}


/*导航*/
.kgw-navb{ width:1200px; height:120px; margin:0px auto; overflow:hidden;}
.kgw-navb ul li{ float:right; font-size:16px; line-height:120px; margin-left:30px;}
.kgw-navb ul li.on a{color: #2894e4;}
.kgw-logo{ width:183px; height:82px; margin-top:19px; margin-right:117px; float:left;}
